.site-login {
    width: 300px;
    margin: 50px auto;
}

#main {
    overflow: hidden;
    font-family: "Segoe UI", arial, helvetica, freesans, sans-serif;
    min-width: 1850px;
}

#content {
    width: 100%;
}
#left {
    float: left;
    margin: 6em 10px 0 0;
}

#left div span#count {
    position: absolute;
    margin: -2em 1em;
}

#text {
    width: 30em;
    height: 20em;
    border: none;
    font-size: 100%;
    font-family: "Segoe UI", arial, helvetica, freesans, sans-serif;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #999;
    padding: .3em;
}

#buttons button {
    width: 89px;
    margin: 10px 0;
}

#buttons button#btn:disabled {
    opacity: .6;
    cursor: not-allowed;
}

#buttons button#clr {
    float:right;
}

#phones {
    width: 30em;
    height: 6em;
    border: none;
    font-size: 100%;
    font-family: "Segoe UI", arial, helvetica, freesans, sans-serif;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #ccc;
    padding: .3em;
    color: #999;
}

#queue {
    width: 30em;
    height: 25em;
    border: none;
    font-size: 100%;
    font-family: "Segoe UI", arial, helvetica, freesans, sans-serif;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #ccc;
    padding: .3em;
    list-style-type: none;
    color: #999;
}

#queue li {
    font-size: 90%;
}

#tabs {
    float: left;
    margin: 3.9em auto 0 auto;
    width: 80em;
}

ul.tabs {
    margin: 0 5px;
    padding: 0px;
    list-style: none;
    z-index: 1;
}
ul.tabs li {
    color: #999;
    display: inline-block;
    padding: .3em 10px;
    border: 1px solid #eee;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    position: relative;
}

ul.tabs li.current {
    color: #333;
    border: 1px solid #999;
    border-bottom: 1px solid #fff;
    border-radius: 5px 5px 0 0;
    cursor: default;
}

.tab-content {
    border-radius: 5px;
    display: none;
    background: #fff;
    border: 1px solid #999;
    padding: .3em;
    -webkit-column-count:4;  
    -moz-column-count:4;  
    column-count:4;
    min-height: 81.2vh;
    line-height: 1em;
    overflow-y: auto;
    margin-top: -1px;
    margin-bottom: 1em;
}

.tab-content.current {
    display: inherit;
    border-radius: 5px;
}

.tab-content div {
    padding-left: 1.8em;
    border: none;
    background-color: #fff;
}

.tab-content div.detailed {
    background-color: #ffe;
    border: 1px #eee solid;
    border-radius: 5px;
    margin: .1em 0;
}

.tab-content div.newdept {
    padding-top: 1em;
    margin-top: 1.4em;
    border-top: 1px solid #ccc;
}

.tab-content div.depthead {
    padding-left: 0em;
    margin-top: 1em;
    border-bottom: 1px solid #966;
    color:#966;
}

.tab-content div input {
    margin-left: -1.5em;
}

.tab-content abbr {
    border-bottom: none;
    text-decoration: none;
    margin-left: .5em;
    cursor: pointer;
}

.tab-content abbr[title] {
    border-bottom: none;
    text-decoration: none;
}

.tab-content .details {
    display: none;
    background: inherit;
    padding: 0 0 .4em 0;
    font-size: 80%;
    color:#999;
}

.tab-content span {
    font-size: 80%;
    color:#999;
}

.tab-content .details span {
    font-size: 100%;
    cursor: pointer;
}

.tab-content strong {
    font-weight: bold; 
}

.tab-content a {
    color:#99c;
}


.list {
    display: none;
    float: left;
    margin: 6em 10px;
}

.list.current {
    display: inherit;
}

.list select {
    padding: .3em;
    width: 20em;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #999;
    cursor: pointer;
    overflow-y: auto;
}

.list select.single {
    height: 2.2em;
    overflow-y: hidden;
}
.list option:disabled {
    display: none;
}

:focus {
    outline: none;
}

#queue ul li {
    font-size: 90%;
}

#calendar {
    margin-top: 4em;
    width: 16em;
}

#w0-kvdate input {
    padding: 2px;
}

.history {
    margin: 1em 0;
    width: 100%;
}

.history td {
    border: 1px solid #999;
    padding: .2em;
    max-width: 600px;
    font-size: 90%;
    background: #eee;
    vertical-align: top;
}

.history tr.odd td {
    background: #fff;
}

.history td.text {
    max-width: 800px;
    min-width: 400px;
}
.history th {
    border: 1px solid #999;
    padding: .2em;
    background: #eee;
}

.history i {
    color: blue;
    font-style: normal;
}

.history b {
    color: red;
    font-weight: normal;
}
#result p {
    position: absolute;
    right: 16px;
    top: 5em;
    color: #999;
    margin: 0 0;
    padding: 0 0;
}

#result .max {
    color: red;
}

#result span.max {
    font-weight: bold;
}

dialog {
    border-radius: 5px;
    background: #fff;
    border: 1px solid #999;
}

dialog div {
    text-align: right;
}

dialog div.readonly {
    margin-right: 41em;
}

dialog input {
    width: 40em;
    margin: .3em .3em;
}

dialog button {
    width: 89px;
    margin: .3em .3em;
}

dialog div.msg {
    text-align: center;
    margin: .3em .3em;
}
