.site-login {
    width: 300px;
    margin: 50px auto;
}

#main {
    overflow: hidden;
    font-family: "Segoe UI", arial, helvetica, freesans, sans-serif;
    min-width: 1850px;
    /*position: absolute;*/
    top: 0;
}

#content {
    width: 100%;
}
#left {
    float: left;
    margin: 6em 10px 0 0;
}

#left span#count {
    position: absolute;
    margin: -2em 28em;
}

#priority {
    position: absolute;
    margin: -2em 0em;
}

#priority input[type='checkbox']:after {
    width: 15px;
    height: 15px;
    border-radius:3px;
    top: -1px;
    left: -1px;
    position: relative;
    background: url("/sms2/backend/web/img/down-arrow.svg") #fff no-repeat center;
    background-size: cover; 
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0px solid #fff;
    cursor: pointer;
}

#priority input[type='checkbox']:checked:after {
    background: url("/sms2/backend/web/img/down-arrow.svg") #fff no-repeat center;
    background-size: cover;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

#search {
    float: right;
    margin: -2em 0;
}

#search input {
    margin-right: 37px;
    padding: 0 2px;
}

#search button {
    position: absolute;
    margin: 0 -34px;
    height: 24px;
    width: 34px;
}

#subject {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #999;
    margin:0 0 4px 0;
}

.opt1 {
    background-color: #fcc;
}

#text {
    width: 30em;
    height: 20em;
    border: none;
    font-size: 100%;
    font-family: "Segoe UI", arial, helvetica, freesans, sans-serif;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #999;
    padding: .3em;
}

#buttons button {
    width: 89px;
    margin: 10px 0;
}

#buttons input {
    width: 89px;
    margin: 10px 0;
}

#buttons button:disabled {
    opacity: .6;
    cursor: not-allowed;
}

#buttons button#clr {
    float: right;
}

#attach {
}

#attach input[type="file"] {
    width: 420px;
}

#phones {
    width: 30em;
    height: 6em;
    border: none;
    font-size: 100%;
    font-family: "Segoe UI", arial, helvetica, freesans, sans-serif;
    border-radius: 5px;
    background: #eee;
    border: 1px solid #ccc;
    padding: .3em;
    color: #999;
}

#queue {
    width: 30em;
    height: 25em;
    border: none;
    font-size: 100%;
    font-family: "Segoe UI", arial, helvetica, freesans, sans-serif;
    border-radius: 5px;
    background: #eee;
    border: 1px solid #ccc;
    padding: .3em;
    list-style-type: none;
    color: #999;
}

#queue li {
    font-size: 90%;
}

#queue li.max {
    color: red;
}

#queue li span {
    color: red;
    font-weight: bold;
}

#tabs {
    float: left;
    margin: 3.9em auto 0 auto;
    width: 80em;
}

ul.tabs {
    margin: 0 5px;
    padding: 0px;
    list-style: none;
    letter-spacing: 0;
}
ul.tabs li {
    color: #999;
    background-color: #eee;
    display: inline-block;
    padding: .2em .5em;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    position: relative;
}

ul.tabs li.current {
    color: #333;
    background-color: white;
    border: 1px solid #999;
    border-bottom: 1px solid #fff;
    border-radius: 5px 5px 0 0;
    cursor: default;
    z-index: 1;
}

.tab-content {
    border-radius: 5px;
    display: none;
    background: #fff;
    border: 1px solid #999;
    padding: .3em .3em 1.3em .3em;
    -webkit-column-count:4;  
    -moz-column-count:4;  
    column-count:4;
    min-height: 81.2vh;
    line-height: 1em;
    overflow-y: auto;
    margin-top: -1px;
    margin-bottom: 1em;
    position:relative;
}

.tab-content.current {
    display: inherit;
    border-radius: 5px;
}

.tab-content div.dept div {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-left: 1.8em;
    border: none;
    background-color: #fff;
}

.tab-content div.dept div.detailed {
    background-color: #ffe;
    border: 1px #eee solid;
    border-radius: 5px;
    margin: .1em 0;
}

.tab-content div.dept div.newdept {
    padding-top: 1em;
    margin-top: 1.4em;
    border-top: 1px solid #ccc;
}

.tab-content div.dept div.depthead {
    margin-top: 1em;
    padding-left: 0em;
    border-bottom: 1px solid #966;
    color:#966;
    cursor: pointer;
}

.tab-content div input {
    margin-left: -1.5em;
}

.tab-content div input[type='checkbox']:after {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    top: 0px;
    left: -1px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #ddd;
    cursor: pointer;
}

.tab-content div input[type='checkbox']:checked:after {
    background: url("/sms2/backend/web/img/iphone.png") #fff;
    border: 0px solid #fff;
}

.tab-content div input[type='checkbox']:indeterminate:after {
    background: url("/sms2/backend/web/img/mail.png") #fff;
    border: 0px solid #fff;
}

.tab-content div input[type='checkbox']:disabled:after {
    background: url("/sms2/backend/web/img/disabled.png") #fff;
    border: 0px solid #fff;
}

.tab-content abbr {
    border-bottom: none;
    text-decoration: none;
    margin-left: .5em;
    cursor: pointer;
}

.tab-content abbr[title] {
    border-bottom: none;
    text-decoration: none;
}

.tab-content div.dept .details {
    display: none;
    background: inherit;
    padding: 0 0 .4em 0;
    font-size: 80%;
    color:#999;
}

.tab-content span {
    font-size: 80%;
    color:#999;
}

.tab-content .details span {
    font-size: 100%;
    cursor: pointer;
}

.tab-content strong {
    font-weight: bold; 
}

.tab-content a {
    color:#99c;
}

.tab-content a.addcontact {
    display: block;
    position: absolute;
    bottom: .3em;
    right: .3em;
    cursor: pointer;
}

.list optgroup {
    font-weight: normal;
    color: #966;
    /*margin-top: 0.1em;*/
}

.list option {
    padding-left: 1em;
}

.list {
    display: none;
    float: left;
    margin: 6em 10px 1em 10px;
}

.list.current {
    display: inherit;
}

.list select {
    padding: .3em;
    width: 20em;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #999;
    cursor: pointer;
    overflow-y: auto;
}

.list select.single {
    height: 2.2em;
    overflow-y: hidden;
}
.list option:disabled {
    display: none;
}

:focus {
    outline: none;
}

#queue li {
    font-size: 90%;
}

#calendar {
    margin-top: 4em;
    width: 16em;
}

#refresh {
    position: absolute;
    left: 19em;
    top: 4.5em;
}

#w0-kvdate input {
    padding: 2px;
}

#w0 {
    border-radius: 5px 0 0 5px;
}

#w0-2 {
    border-radius: 0 5px 5px 0;
}

table.history {
    margin: 1em 0;
    width: 100%;
    border-collapse:separate;
    border:none;
}

.history td {
    border-left:solid #999 1px;
    border-top:solid #999 1px;
    padding: .2em;
    max-width: 600px;
    font-size: 90%;
    background: #eee;
    vertical-align: top;
}

.history tr.odd td {
    background: #fff;
}

.history tr.my td {
    background: #eec;
}

.history tr.myodd td {
    background: #ffd;
}

.history td.id {
    cursor: pointer;
    color:#337ab7;
}

.history td.id:hover {
    text-decoration: underline;
}

.history td.text {
/*    max-width: 1000px;
    min-width: 400px;*/
}

.history td.text span {
    /*font-style: italic;*/
    color: #999;
    display: block;
    margin-bottom: 0.5em;
}

.history th {
    border-left:solid #999 1px;
    border-top: none;
    padding: .2em;
    background: #eee;
}

.history tr:first-child th {
     border-top: solid #999 1px;
}

.history tr:last-child td {
     border-bottom: solid #999 1px;
}

.history tr:last-child td:first-child {
     border-bottom: solid #999 1px;
     border-radius: 0 0 0 5px;
}

.history th:first-child {
     border-left: solid #999 1px;
     border-radius: 5px 0;

}

.history th:last-child {
     border-right: solid #999 1px;
     border-radius: 0 5px 0 0;
}

.history td:last-child {
     border-right: solid #999 1px;
}

.history tr:last-child td:last-child {
     border-right: solid #999 1px;
     border-radius: 0 0 5px 0;
}

.history i {
    color: blue;
    font-style: normal;
}

.history b {
    color: red;
    font-weight: normal;
}
#result p {
    position: absolute;
    right: 16px;
    top: 5em;
    color: #999;
    margin: 0 0;
    padding: 0 0;
}

#result .max {
    color: red;
}

#result span.max {
    font-weight: bold;
}

dialog {
    border-radius: 5px;
    background: #fff;
    border: 1px solid #999;
}

dialog div {
    text-align: right;
}

dialog div.readonly {
    margin-right: 41em;
}

dialog input {
    width: 40em;
    margin: .3em .3em;
}

dialog button {
    width: 89px;
    margin: .3em .3em;
}

dialog div.msg {
    text-align: center;
    margin: .3em .3em;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}
  
#loading-image {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index: 100;
}
